/* text box */
.box {
    height: 50px;
    width: 896px;
    background-color: #555;
}
.box2 {
    height: 50px;
    width: 300px;
    background-color: #555;
}
/* The pic/clip box */
.clipBox {
    height: 300px;
    width: 896px;
    background-color: #555;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dots {
    text-align: center;
}
h1 {
    display: inline-block;
}
.phone {
    position: absolute;
    right : 150px;
    top: 50px;
}